<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":1,"style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"500"}},"textColor":"custom-txt-2"} -->
<h1 class="wp-block-heading has-custom-txt-2-color has-text-color" style="font-style:normal;font-weight:500;text-transform:uppercase">специалисты<br><mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-custom-base-2-color">“формулы счастья”</mark></h1>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"500"}},"textColor":"custom-txt-2"} -->
<p class="has-custom-txt-2-color has-text-color" style="font-style:normal;font-weight:500">Мы собрали команду настоящих профессионалов своего дела.<br>Они непрерывно совершенствуются и повышают квалификацию.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:query {"queryId":38,"query":{"perPage":"3","pages":0,"offset":"0","postType":"page","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[173]}} -->
<div class="wp-block-query"><!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20)"><!-- wp:query-pagination {"style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-base-1"}}}},"layout":{"type":"flex","justifyContent":"right","flexWrap":"wrap"}} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:group -->

<!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|50"}},"layout":{"type":"grid","columnCount":3}} -->
<!-- wp:post-featured-image {"isLink":true,"width":"","height":"","align":"wide"} /-->

<!-- wp:post-title {"style":{"typography":{"fontSize":"24px","fontStyle":"normal","fontWeight":"500"}},"textColor":"custom-txt-2"} /-->

<!-- wp:post-terms {"term":"post_tag"} /-->

<!-- wp:read-more {"content":"Подробнее","style":{"spacing":{"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}}},"textColor":"custom-base-2"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query -->

<!-- wp:post-content /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->