<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":1,"style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"500"}},"textColor":"custom-txt-2"} -->
<h1 class="wp-block-heading has-custom-txt-2-color has-text-color" style="font-style:normal;font-weight:500;text-transform:uppercase">Только здоровые и самые <mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-custom-base-2-color">эффективные направления</mark></h1>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:post-content /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->